version: "3.9"

services:
  # local-auth:
  #   image: ghcr.io/isd-sgcu/johnjud-auth
  #   platform: linux/amd64
  #   container_name: auth
  #   depends_on:
  #     - local-db
  #     - local-cache
  #   restart: unless-stopped
  #   networks:
  #     - johnjud-local
  #     - database
  #   volumes:
  #     - ./config/auth:/config
  #   ports:
  #     - "3002:3002"

  # local-backend:
  #   image: ghcr.io/isd-sgcu/johnjud-backend
  #   platform: linux/amd64
  #   container_name: backend
  #   depends_on:
  #     - local-db
  #     - local-cache
  #   restart: unless-stopped
  #   networks:
  #     - johnjud-local
  #     - database
  #   volumes:
  #     - ./config/backend:/config
  #   ports:
  #     - "3003:3003"

  local-file:
    image: ghcr.io/isd-sgcu/johnjud-file
    platform: linux/amd64
    container_name: backend
    depends_on:
      - local-db
      - local-cache
    restart: unless-stopped
    networks:
      - johnjud-local
      - database
    volumes:
      - ./config/file:/config
    ports:
      - "3003:3003"

  local-db:
    image: postgres:15.1-alpine3.17
    container_name: local-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: johnjud_db
    networks:
      - database
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  local-cache:
    image: redis:7.2.3-alpine
    container_name: local-cache
    restart: unless-stopped
    environment:
      REDIS_HOST: localhost
      ALLOW_EMPTY_PASSWORD: "yes"
    networks:
      - database
    ports:
      - "6379:6379"

networks:
  johnjud-local:
    name: johnjud-local
  database:
    name: database
